<script type="text/javascript">
    function confirmOptIn() {
      FB.AppEvents.logEvent('MessengerCheckboxUserConfirmation', null, {
        'app_id':'1801301740177204',
        'page_id':'187200484807277',
        'ref':'',
        'user_ref':'1500465490011613'
      });
    }
</script>

<div class="col-md-12" >
  <input type="checkbox" class = "fb-messenger-checkbox" page_id= "187200484807277" messenger_app_id="1801301740177204" origin= "https://bc6e4592.ngrok.io//callback/index" prechecked="true" user_ref= "1500465490011613" allow_login="true" size="large"  value="facebook_login "/> Facebook login?
</div>

<div>
	 <input type="button" onclick="confirmOptIn()" value="Confirm Opt-in"/>
</div>

<div>
	<%= link_to "Messages", messages_path %>
</div>

</script>